Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "John-Martin Macalintal"
COLLABORATORS = "Individual"

---

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [2]:
NAME = "John-Martin Macalintal"
COLLABORATORS = "Individual"

In [3]:
import pandas as pd
import numpy as np
import random
import plotly.express as px
import re

In [4]:
#Opening and seeing the contents of the Powerlifting CSV file

df = pd.read_csv('openpowerlifting.csv')

print(df.describe())
df.head(10)

/tmp/ipykernel_3175539/3145035867.py:3: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('openpowerlifting.csv')

                 Age  BodyweightKg       Squat1Kg       Squat2Kg  \
count  757527.000000  1.406622e+06  337580.000000  333349.000000
mean       31.501570  8.422503e+01     114.102442      92.155846
std        13.371707  2.322011e+01     147.143021     173.701524
min         0.000000  1.510000e+01    -555.000000    -580.000000
25%        21.000000  6.670000e+01      90.000000      68.000000
50%        28.000000  8.180000e+01     147.500000     145.000000
75%        40.000000  9.915000e+01     200.000000     205.000000
max        97.000000  2.580000e+02     555.000000     566.990000

            Squat3Kg     Squat4Kg  Best3SquatKg       Bench1Kg       Bench2Kg  \
count  323842.000000  3696.000000  1.031450e+06  499779.000000  493486.000000
mean       30.056842    71.356870  1.740049e+02      83.892373      55.065745
std       200.413385   194.522045  6.923931e+01     105.196350     130.302229
min      -600.500000  -550.000000 -4.775000e+02    -480.000000    -507.500000
25%      -167.500000  -107.840000  1.224700e+02      57.500000     -52.500000
50%       110.000000   135.000000  1.678300e+02     105.000000      95.000000
75%       192.500000   205.000000  2.175000e+02     145.000000     145.000000
max       560.000000   505.500000  5.750000e+02     467.500000     487.500000

            Bench3Kg  ...    Deadlift1Kg    Deadlift2Kg    Deadlift3Kg  \
count  478485.000000  ...  363544.000000  356023.000000  339947.000000
mean      -18.520481  ...     162.700840     130.228378      12.995484
std       144.225726  ...     108.681438     162.680134     215.052488
min      -575.000000  ...    -461.000000    -470.000000    -587.500000
25%      -140.000000  ...     125.000000     115.000000    -210.000000
50%       -60.000000  ...     180.000000     177.500000     117.500000
75%       117.500000  ...     226.800000     230.000000     205.000000
max       478.540000  ...     450.000000     460.400000     457.500000

       Deadlift4Kg  Best3DeadliftKg       TotalKg         Wilks     McCulloch  \
count  9246.000000     1.081808e+06  1.313184e+06  1.304407e+06  1.304254e+06
mean     78.914945     1.872585e+02  3.956148e+02  2.882247e+02  2.960682e+02
std     192.605159     6.232821e+01  2.011420e+02  1.231805e+02  1.249700e+02
min    -461.000000    -4.100000e+02  2.500000e+00  1.470000e+00  1.470000e+00
25%    -110.000000     1.383500e+02  2.325000e+02  1.979000e+02  2.048200e+02
50%     145.150000     1.850000e+02  3.787500e+02  3.052000e+02  3.120300e+02
75%     210.000000     2.300000e+02  5.400000e+02  3.745600e+02  3.837600e+02
max     418.000000     5.850000e+02  1.367500e+03  7.793800e+02  8.044000e+02

       Glossbrenner     IPFPoints
count  1.304407e+06  1.273286e+06
mean   2.718484e+02  4.854330e+02
std    1.175571e+02  1.133489e+02
min    1.410000e+00  2.160000e+00
25%    1.828100e+02  4.028600e+02
50%    2.859400e+02  4.780500e+02
75%    3.552800e+02  5.597000e+02
max    7.429600e+02  1.245930e+03

[8 rows x 22 columns]

,Name,Sex,Event,Equipment,Age,AgeClass,Division,BodyweightKg,WeightClassKg,Squat1Kg,...,McCulloch,Glossbrenner,IPFPoints,Tested,Country,Federation,Date,MeetCountry,MeetState,MeetName
0,Abbie Murphy,F,SBD,Wraps,29.0,24-34,F-OR,59.8,60,80.0,...,324.16,286.42,511.15,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
1,Abbie Tuong,F,SBD,Wraps,29.0,24-34,F-OR,58.5,60,100.0,...,378.07,334.16,595.65,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
2,Ainslee Hooper,F,B,Raw,40.0,40-44,F-OR,55.4,56,NaN,...,38.56,34.12,313.97,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
3,Amy Moldenhauer,F,SBD,Wraps,23.0,20-23,F-OR,60.0,60,-105.0,...,345.61,305.37,547.04,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
4,Andrea Rowan,F,SBD,Wraps,45.0,45-49,F-OR,104.0,110,120.0,...,338.91,274.56,550.08,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
5,April Alvarez,F,SBD,Wraps,37.0,35-39,F-OR,74.0,75,127.5,...,354.74,312.20,596.18,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
6,Ash Morgan,F,SBD,Wraps,23.0,20-23,F-OR,59.8,60,115.0,...,385.63,340.74,612.23,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
7,Belinda Moloney,F,SBD,Wraps,35.0,35-39,F-OR,80.4,82.5,120.0,...,337.62,296.00,575.85,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
8,Briony Williams,F,SBD,Wraps,36.0,35-39,F-OR,108.0,110,180.0,...,424.49,361.57,716.65,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup
9,Brooke Kowalczyk,F,SBD,Wraps,37.0,35-39,F-OR,74.8,75,180.0,...,452.31,397.92,762.42,NaN,NaN,GPC-AUS,2018-10-27,Australia,VIC,Melbourne Cup

In [5]:
print("\n Missing Values Analysis:") 
print (df.isnull().sum())

# NOTES
# My dataset is quite large so I plan to clean it up and look at only Raw SBD events. 
# RAW meaning certain equipment like knee sleeves, lifting belt, wrist wraps are allowed 
# SBD just means they compete in Squat, Bench, Deadlift
# I myself competed in RAW SBD and this is what my project will be mainly focused on as it will trim the large data set.

 Missing Values Analysis:
Name                     0
Sex                      0
Event                    0
Equipment                0
Age                 665827
AgeClass            636554
Division              8178
BodyweightKg         16732
WeightClassKg        13312
Squat1Kg           1085774
Squat2Kg           1090005
Squat3Kg           1099512
Squat4Kg           1419658
Best3SquatKg        391904
Bench1Kg            923575
Bench2Kg            929868
Bench3Kg            944869
Bench4Kg           1413849
Best3BenchKg        147173
Deadlift1Kg        1059810
Deadlift2Kg        1067331
Deadlift3Kg        1083407
Deadlift4Kg        1414108
Best3DeadliftKg     341546
TotalKg             110170
Place                    0
Wilks               118947
McCulloch           119100
Glossbrenner        118947
IPFPoints           150068
Tested              329462
Country            1034470
Federation               0
Date                     0
MeetCountry              0
MeetState           481809
MeetName                 0
dtype: int64

In [6]:
file_path = "openpowerlifting.csv"

data = pd.read_csv(file_path)

columns_to_drop = [ "Squat4Kg", "Best3SquatKg", "Bench4Kg", "Best3BenchKg", 
    "Deadlift4Kg", "Best3DeadliftKg", "McCulloch", "AgeClass", "Tested", 
    "Glossbrenner", "IPFPoints", "MeetState", "MeetName", "MeetCountry" 
]

updated_data = data.drop(columns=columns_to_drop, errors='ignore')

filtered_data = updated_data[(updated_data["Event"] == "SBD") & (updated_data["Equipment"] == "Raw") & (updated_data["Place"] != "DQ")]

filtered_data = filtered_data.dropna(subset=['Squat1Kg', 'Bench1Kg', 'Deadlift1Kg'], how='all')

filtered_data.to_csv("firstupdatepowerlifting.csv", index=False)
print("Updated CSV")

/tmp/ipykernel_3175539/3526283053.py:3: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

Updated CSV

In [7]:
newdf = pd.read_csv('firstupdatepowerlifting.csv')

print(newdf.describe())
print (newdf.isnull().sum())

                 Age   BodyweightKg       Squat1Kg       Squat2Kg  \
count  131961.000000  160202.000000  160005.000000  158760.000000
mean       29.503194      82.448593     119.194809     108.282217
std        12.205237      20.964411     102.419259     126.906670
min         5.500000      21.600000    -442.500000    -477.500000
25%        20.500000      66.900000      90.000000      90.000000
50%        25.500000      81.000000     137.500000     140.000000
75%        35.500000      92.950000     180.000000     190.000000
max        93.500000     233.000000     450.000000     470.000000

            Squat3Kg       Bench1Kg       Bench2Kg       Bench3Kg  \
count  155611.000000  160044.000000  159110.000000  155638.000000
mean       48.497868      84.101079      62.867255      -8.978358
std       166.131710      63.135665      92.297051     114.991832
min      -490.000000    -270.000000    -310.000000    -450.000000
25%      -122.500000      55.000000      47.500000    -112.500000
50%       112.500000      92.500000      85.000000     -50.000000
75%       180.000000     125.000000     127.500000     102.500000
max       490.000000     310.000000     320.000000     322.500000

         Deadlift1Kg    Deadlift2Kg    Deadlift3Kg        TotalKg  \
count  160186.000000  158470.000000  154190.000000  160096.000000
mean      160.505587     140.091949      38.655656     453.838042
std        85.854044     134.472135     197.958574     152.704252
min      -390.000000    -400.000000    -440.000000      50.000000
25%       122.000000     120.000000    -177.500000     322.500000
50%       170.000000     170.000000     130.000000     458.130000
75%       215.000000     220.000000     202.500000     567.500000
max       410.000000     430.000000     420.500000    1112.500000

               Wilks
count  160064.000000
mean      336.630112
std        66.493306
min        37.290000
25%       292.830000
50%       337.805000
75%       381.210000
max       628.290000
Name                  0
Sex                   0
Event                 0
Equipment             0
Age               28273
Division            140
BodyweightKg         32
WeightClassKg       431
Squat1Kg            229
Squat2Kg           1474
Squat3Kg           4623
Bench1Kg            190
Bench2Kg           1124
Bench3Kg           4596
Deadlift1Kg          48
Deadlift2Kg        1764
Deadlift3Kg        6044
TotalKg             138
Place                 0
Wilks               170
Country          123605
Federation            0
Date                  0
dtype: int64

In [8]:
import sqlite3
import pandas as pd

#Database connection
connection = sqlite3.connect('powerlifting.db')
cursor = connection.cursor()

# Create the table 
cursor.execute('''
CREATE TABLE IF NOT EXISTS powerlifting_table (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT,
    Sex TEXT,
    Event TEXT,
    Equipment TEXT,
    Age INTEGER,
    Division TEXT,
    BodyweightKg REAL,
    WeightClassKg REAL,
    Squat1Kg REAL,
    Squat2Kg REAL,
    Squat3Kg REAL,
    Bench1Kg REAL,
    Bench2Kg REAL,
    Bench3Kg REAL,
    Deadlift1Kg REAL,
    Deadlift2Kg REAL,
    Deadlift3Kg REAL,
    TotalKg REAL,
    Place TEXT,
    Wilks REAL,
    Country TEXT,
    Federation TEXT,
    Date TEXT
)
''')

#Read the CSV file into a DataFrame
newdf = pd.read_csv('firstupdatepowerlifting.csv')

#Clean the DataFrame (Remove rows with NULL in TotalKg)
newdf = newdf[newdf['TotalKg'].notnull()]

#Clear existing data
cursor.execute('DELETE FROM powerlifting_table')

#Insert the cleaned DataFrame into the table
newdf.to_sql('powerlifting_table', connection, if_exists='append', index=False)

#Remove lifters where Age is NULL
cursor.execute('''
DELETE FROM powerlifting_table
WHERE Age IS NULL;
''')

#Remove duplicates from the database
cursor.execute('''
CREATE TABLE IF NOT EXISTS temp_table AS
SELECT DISTINCT * FROM powerlifting_table;
''')

#Drop original table
cursor.execute('DROP TABLE powerlifting_table;')

#Rename the temporary table to the original table name
cursor.execute('ALTER TABLE temp_table RENAME TO powerlifting_table;')

#Execute a query to retrieve data
query = 'SELECT * FROM powerlifting_table'
result = pd.read_sql_query(query, connection)

print(result)

#Close the connection
#connection.close()

                         Name Sex Event Equipment   Age   Division  \
0        Christina Tsatsoulis   F   SBD       Raw  27.0       F-OR
1           Elizabeth Ciortuz   F   SBD       Raw  19.0       F-OR
2               Jasmine Hoare   F   SBD       Raw  31.0       F-OR
3                Joelle Savgy   F   SBD       Raw  29.0       F-OR
4                Nicole Brown   F   SBD       Raw  28.0       F-OR
...                       ...  ..   ...       ...   ...        ...
131533          Adam Jasiński   M   SBD       Raw  65.5  Masters 2
131534  Włodzimierz Żmijewski   M   SBD       Raw  67.5  Masters 2
131535         Marian Cafalik   M   SBD       Raw  60.5  Masters 2
131536     Marian Piwowarczyk   M   SBD       Raw  55.5  Masters 2
131537     Andrzej Bryniarski   M   SBD       Raw  62.5  Masters 2

        BodyweightKg WeightClassKg  Squat1Kg  Squat2Kg  ...  Bench3Kg  \
0              102.0           110     135.0    -140.0  ...     -85.0
1               72.7            75      95.0     105.0  ...      60.0
2               77.7          82.5     130.0     137.5  ...     -85.0
3               72.1            75      90.0     100.0  ...     -62.5
4               57.7            60      82.5      90.0  ...     -60.0
...              ...           ...       ...       ...  ...       ...
131533          78.0            83     195.0     202.5  ...     115.0
131534          72.7            74     185.0     195.0  ...       NaN
131535          73.5            74     160.0     170.0  ...      87.5
131536          63.5            66      90.0     100.0  ...    -100.0
131537          94.4           105     140.0     150.0  ...       NaN

        Deadlift1Kg  Deadlift2Kg  Deadlift3Kg  TotalKg  Place   Wilks  \
0             180.0       -185.0       -185.0    402.5      2  333.24
1             107.5        117.5        127.5    300.0      7  290.95
2             145.0        155.0       -165.0    380.0      4  353.56
3             125.0        132.5        137.5    302.5      6  294.98
4              92.5        102.5       -110.0    247.5      5  284.47
...             ...          ...          ...      ...    ...     ...
131533        195.0        207.5       -212.5    537.5      2  372.98
131534       -235.0        235.0       -250.5    505.0      3  367.91
131535        180.0        190.0       -195.0    452.5      4  327.07
131536        140.0        160.0        170.0    375.0      5  304.16
131537        160.0        170.0        180.0    440.0      6  274.48

        Country Federation        Date
0          None    GPC-AUS  2018-10-27
1          None    GPC-AUS  2018-10-27
2          None    GPC-AUS  2018-10-27
3          None    GPC-AUS  2018-10-27
4          None    GPC-AUS  2018-10-27
...         ...        ...         ...
131533   Poland    PZKFiTS  2017-04-01
131534     None    PZKFiTS  2017-04-01
131535     None    PZKFiTS  2017-04-01
131536   Poland    PZKFiTS  2017-04-01
131537     None    PZKFiTS  2017-04-01

[131538 rows x 23 columns]

In [9]:
#COUNT query to get the number of rows
cursor.execute('SELECT COUNT(*) FROM powerlifting_table')
row_count = cursor.fetchone()[0]

#Display the number of rows
print(f'The number of rows in the powerlifting table is: {row_count}')

The number of rows in the powerlifting table is: 131538

In [10]:
import sqlite3
import pandas as pd

# Query Function
def run_query(query):
    cursor.execute(query)
    return cursor.fetchall()

# Query to count males and females
query = '''
SELECT 
    COUNT(CASE WHEN Sex = 'M' THEN 1 END) AS male_count,
    COUNT(CASE WHEN Sex = 'F' THEN 1 END) AS female_count
FROM 
    powerlifting_table;
'''

result = run_query(query)

#Display the result
male_count, female_count = result[0]  
print(f'Number of Males: {male_count}')
print(f'Number of Females: {female_count}')

Number of Males: 86146
Number of Females: 45392

In [11]:
# Define the query to count lifters from each country
query = '''
SELECT 
    Country, 
    COUNT(*) AS lifter_count
FROM 
    powerlifting_table
GROUP BY 
    Country
ORDER BY 
    lifter_count DESC;
'''

result = run_query(query)

# Display the result
for country, count in result:
    print(f'Country: {country}, Number of Lifters: {count}')

Country: None, Number of Lifters: 97974
Country: USA, Number of Lifters: 7856
Country: Australia, Number of Lifters: 3792
Country: UK, Number of Lifters: 2980
Country: Finland, Number of Lifters: 2837
Country: Russia, Number of Lifters: 2194
Country: New Zealand, Number of Lifters: 1591
Country: Norway, Number of Lifters: 1310
Country: Germany, Number of Lifters: 931
Country: Canada, Number of Lifters: 724
Country: France, Number of Lifters: 691
Country: Japan, Number of Lifters: 629
Country: South Africa, Number of Lifters: 452
Country: Ukraine, Number of Lifters: 448
Country: Denmark, Number of Lifters: 405
Country: England, Number of Lifters: 393
Country: Netherlands, Number of Lifters: 381
Country: Poland, Number of Lifters: 331
Country: Sweden, Number of Lifters: 321
Country: Ireland, Number of Lifters: 320
Country: Spain, Number of Lifters: 294
Country: Nauru, Number of Lifters: 287
Country: Croatia, Number of Lifters: 277
Country: Brazil, Number of Lifters: 243
Country: Argentina, Number of Lifters: 240
Country: Iceland, Number of Lifters: 220
Country: Kazakhstan, Number of Lifters: 209
Country: Ecuador, Number of Lifters: 193
Country: Czechia, Number of Lifters: 187
Country: Belarus, Number of Lifters: 161
Country: India, Number of Lifters: 133
Country: Mexico, Number of Lifters: 117
Country: Hungary, Number of Lifters: 113
Country: Uruguay, Number of Lifters: 109
Country: Peru, Number of Lifters: 109
Country: Slovenia, Number of Lifters: 108
Country: Lithuania, Number of Lifters: 106
Country: Estonia, Number of Lifters: 99
Country: Italy, Number of Lifters: 89
Country: Algeria, Number of Lifters: 89
Country: Austria, Number of Lifters: 81
Country: Singapore, Number of Lifters: 80
Country: Latvia, Number of Lifters: 74
Country: Puerto Rico, Number of Lifters: 60
Country: Iran, Number of Lifters: 60
Country: Samoa, Number of Lifters: 57
Country: Belgium, Number of Lifters: 55
Country: Papua New Guinea, Number of Lifters: 52
Country: Trinidad and Tobago, Number of Lifters: 49
Country: Costa Rica, Number of Lifters: 48
Country: Colombia, Number of Lifters: 48
Country: Switzerland, Number of Lifters: 44
Country: Uzbekistan, Number of Lifters: 42
Country: Taiwan, Number of Lifters: 37
Country: Wales, Number of Lifters: 35
Country: Tuvalu, Number of Lifters: 35
Country: Portugal, Number of Lifters: 32
Country: N.Ireland, Number of Lifters: 32
Country: Bulgaria, Number of Lifters: 32
Country: Azerbaijan, Number of Lifters: 30
Country: Egypt, Number of Lifters: 29
Country: Hong Kong, Number of Lifters: 28
Country: Slovakia, Number of Lifters: 26
Country: Georgia, Number of Lifters: 26
Country: Philippines, Number of Lifters: 25
Country: Lebanon, Number of Lifters: 25
Country: Guyana, Number of Lifters: 23
Country: Greece, Number of Lifters: 23
Country: Niue, Number of Lifters: 21
Country: New Caledonia, Number of Lifters: 21
Country: Chile, Number of Lifters: 20
Country: Scotland, Number of Lifters: 19
Country: Libya, Number of Lifters: 19
Country: UAE, Number of Lifters: 17
Country: Moldova, Number of Lifters: 17
Country: Sri Lanka, Number of Lifters: 16
Country: Mongolia, Number of Lifters: 16
Country: Kiribati, Number of Lifters: 16
Country: Fiji, Number of Lifters: 14
Country: Armenia, Number of Lifters: 14
Country: Turkmenistan, Number of Lifters: 12
Country: US Virgin Islands, Number of Lifters: 11
Country: Luxembourg, Number of Lifters: 11
Country: Serbia, Number of Lifters: 10
Country: Romania, Number of Lifters: 10
Country: Kyrgyzstan, Number of Lifters: 10
Country: Israel, Number of Lifters: 10
Country: West Germany, Number of Lifters: 9
Country: Venezuela, Number of Lifters: 9
Country: Tahiti, Number of Lifters: 9
Country: China, Number of Lifters: 8
Country: Malaysia, Number of Lifters: 7
Country: Indonesia, Number of Lifters: 7
Country: Tonga, Number of Lifters: 6
Country: Morocco, Number of Lifters: 6
Country: Iraq, Number of Lifters: 6
Country: Pakistan, Number of Lifters: 5
Country: Guatemala, Number of Lifters: 5
Country: Bolivia, Number of Lifters: 5
Country: Transnistria, Number of Lifters: 4
Country: Tajikistan, Number of Lifters: 4
Country: El Salvador, Number of Lifters: 4
Country: British Virgin Islands, Number of Lifters: 4
Country: Belize, Number of Lifters: 4
Country: Turkey, Number of Lifters: 3
Country: Solomon Islands, Number of Lifters: 3
Country: Paraguay, Number of Lifters: 2
Country: Panama, Number of Lifters: 2
Country: Cameroon, Number of Lifters: 2
Country: Cambodia, Number of Lifters: 2
Country: Wallis and Futuna, Number of Lifters: 1
Country: Vietnam, Number of Lifters: 1
Country: Ivory Coast, Number of Lifters: 1
Country: Cyprus, Number of Lifters: 1
Country: Cook Islands, Number of Lifters: 1
Country: Cayman Islands, Number of Lifters: 1
Country: Brunei, Number of Lifters: 1

In [12]:
# How many participants are in each age class? 
query = 'SELECT Age FROM powerlifting_table'
df = pd.read_sql_query(query, connection)

# Categorize ages
def categorize_age(age):
    if 14 <= age <= 18:
        return 'Sub-junior (14-18 yrs)'
    elif 19 <= age <= 23:
        return 'Junior (19-23 yrs)'
    elif age >= 40 and age <= 49:
        return 'Masters 1 (40-49 yrs)'
    elif age >= 50 and age <= 59:
        return 'Masters 2 (50-59 yrs)'
    elif age >= 60 and age <= 69:
        return 'Masters 3 (60-69 yrs)'
    elif age >= 70:
        return 'Masters 4 (70+ yrs)'
    else:
        return 'Open (Any Age)'  

#Create a new column for age classes
df['Age Class'] = df['Age'].apply(categorize_age)

#Group by the new age class and count participants
age_class_counts = df.groupby('Age Class').size().reset_index(name='Participants')

#Display the results
print(age_class_counts)

                Age Class  Participants
0      Junior (19-23 yrs)         30967
1   Masters 1 (40-49 yrs)         13296
2   Masters 2 (50-59 yrs)          6593
3   Masters 3 (60-69 yrs)          2679
4     Masters 4 (70+ yrs)          1013
5          Open (Any Age)         62831
6  Sub-junior (14-18 yrs)         14159

In [13]:
# Execute the SQL query
query = '''
SELECT 
    CASE 
        WHEN Age BETWEEN 14 AND 18 THEN 'Sub-junior'
        WHEN Age BETWEEN 19 AND 23 THEN 'Junior'
        WHEN Age BETWEEN 40 AND 49 THEN 'Masters 1'
        WHEN Age BETWEEN 50 AND 59 THEN 'Masters 2'
        WHEN Age BETWEEN 60 AND 69 THEN 'Masters 3'
        WHEN Age >= 70 THEN 'Masters 4'
        ELSE 'Open'
    END AS Age_Class,
    Sex,
    MAX(Squat3Kg) AS Max_Squat,
    MAX(Bench3Kg) AS Max_Bench,
    MAX(Deadlift3Kg) AS Max_Deadlift
FROM 
    powerlifting_table
GROUP BY 
    Age_Class, Sex
ORDER BY 
    Age_Class, Sex;
'''

#Load the results into a DataFrame
results = pd.read_sql_query(query, connection)
print(results)

#Close the connection
connection.close()

     Age_Class Sex  Max_Squat  Max_Bench  Max_Deadlift
0       Junior   F      232.5      182.5         252.5
1       Junior   M      425.5      285.0         420.5
2    Masters 1   F      207.5      144.0         225.0
3    Masters 1   M      380.0      281.0         375.0
4    Masters 2   F      180.0      132.5         236.0
5    Masters 2   M      378.5      230.0         345.0
6    Masters 3   F      150.0       94.0         192.5
7    Masters 3   M      240.0      200.0         282.5
8    Masters 4   F       95.0       62.5         140.0
9    Masters 4   M      213.0      185.0         240.0
10        Open   F      273.0      160.0         250.5
11        Open   M      490.0      322.5         420.0
12  Sub-junior   F      262.5      162.5         238.0
13  Sub-junior   M      365.5      212.5         323.5

In [14]:
import pandas as pd

file_path = 'firstupdatepowerlifting.csv' 
df = pd.read_csv(file_path)

print(df)

                         Name Sex Event Equipment   Age   Division  \
0        Christina Tsatsoulis   F   SBD       Raw  27.0       F-OR
1           Elizabeth Ciortuz   F   SBD       Raw  19.0       F-OR
2               Jasmine Hoare   F   SBD       Raw  31.0       F-OR
3                Joelle Savgy   F   SBD       Raw  29.0       F-OR
4                Nicole Brown   F   SBD       Raw  28.0       F-OR
...                       ...  ..   ...       ...   ...        ...
160229          Adam Jasiński   M   SBD       Raw  65.5  Masters 2
160230  Włodzimierz Żmijewski   M   SBD       Raw  67.5  Masters 2
160231         Marian Cafalik   M   SBD       Raw  60.5  Masters 2
160232     Marian Piwowarczyk   M   SBD       Raw  55.5  Masters 2
160233     Andrzej Bryniarski   M   SBD       Raw  62.5  Masters 2

        BodyweightKg WeightClassKg  Squat1Kg  Squat2Kg  ...  Bench3Kg  \
0              102.0           110     135.0    -140.0  ...     -85.0
1               72.7            75      95.0     105.0  ...      60.0
2               77.7          82.5     130.0     137.5  ...     -85.0
3               72.1            75      90.0     100.0  ...     -62.5
4               57.7            60      82.5      90.0  ...     -60.0
...              ...           ...       ...       ...  ...       ...
160229          78.0            83     195.0     202.5  ...     115.0
160230          72.7            74     185.0     195.0  ...       NaN
160231          73.5            74     160.0     170.0  ...      87.5
160232          63.5            66      90.0     100.0  ...    -100.0
160233          94.4           105     140.0     150.0  ...       NaN

        Deadlift1Kg  Deadlift2Kg  Deadlift3Kg  TotalKg  Place   Wilks  \
0             180.0       -185.0       -185.0    402.5      2  333.24
1             107.5        117.5        127.5    300.0      7  290.95
2             145.0        155.0       -165.0    380.0      4  353.56
3             125.0        132.5        137.5    302.5      6  294.98
4              92.5        102.5       -110.0    247.5      5  284.47
...             ...          ...          ...      ...    ...     ...
160229        195.0        207.5       -212.5    537.5      2  372.98
160230       -235.0        235.0       -250.5    505.0      3  367.91
160231        180.0        190.0       -195.0    452.5      4  327.07
160232        140.0        160.0        170.0    375.0      5  304.16
160233        160.0        170.0        180.0    440.0      6  274.48

        Country Federation        Date
0           NaN    GPC-AUS  2018-10-27
1           NaN    GPC-AUS  2018-10-27
2           NaN    GPC-AUS  2018-10-27
3           NaN    GPC-AUS  2018-10-27
4           NaN    GPC-AUS  2018-10-27
...         ...        ...         ...
160229   Poland    PZKFiTS  2017-04-01
160230      NaN    PZKFiTS  2017-04-01
160231      NaN    PZKFiTS  2017-04-01
160232   Poland    PZKFiTS  2017-04-01
160233      NaN    PZKFiTS  2017-04-01

[160234 rows x 23 columns]

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset 
data = pd.read_csv('firstupdatepowerlifting.csv')

# Converting 'Date' to datetime format
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')

# 1. Bar Chart: Number of participants by Country
participants_by_country = data['Country'].value_counts()
#Get the top 10 countries
top_10_countries = participants_by_country.head(10)
#Create the bar chart
plt.figure(figsize=(12, 6))
top_10_countries.plot(kind='bar', color='skyblue', edgecolor='black')
plt.title('Number of Participants by Country (Top 10)', fontsize=16)
plt.xlabel('Country', fontsize=14)
plt.ylabel('Number of Participants', fontsize=14)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()


# 2. Boxplot: Distribution of Wilks scores by Sex
plt.figure(figsize=(8, 6))
data.boxplot(column='Wilks', by='Sex', grid=False, patch_artist=True, boxprops=dict(facecolor='lightblue'))
plt.title('Distribution of Wilks Scores by Sex', fontsize=16)
plt.suptitle('')  # Removes the default title
plt.xlabel('Sex', fontsize=14)
plt.ylabel('Wilks Score', fontsize=14)
plt.tight_layout()
plt.show()

# 3. Line Chart: Plot TotalKg or Wilks over Date to observe trends in performance over time
# Aggregate data by date (mean TotalKg and Wilks per date)
trend_data = data.groupby('Date')[['TotalKg', 'Wilks']].mean().dropna()
plt.figure(figsize=(12, 6))
plt.plot(trend_data.index, trend_data['TotalKg'], label='Average TotalKg', marker='o', linestyle='-')
plt.plot(trend_data.index, trend_data['Wilks'], label='Average Wilks', marker='o', linestyle='-')
plt.title('Performance Trends Over Time', fontsize=16)
plt.xlabel('Date', fontsize=14)
plt.ylabel('Average Performance', fontsize=14)
plt.legend(fontsize=12)
plt.grid(alpha=0.3)
plt.tight_layout()
plt.show()

# 4. Histogram: Distribution of Age
plt.figure(figsize=(8, 6))
plt.hist(data['Age'].dropna(), bins=20, color='orange', edgecolor='black', alpha=0.7)
plt.title('Distribution of Age', fontsize=16)
plt.xlabel('Age', fontsize=14)
plt.ylabel('Frequency', fontsize=14)
plt.tight_layout()
plt.show()

In [16]:
import csv
import pandas as pd
import numpy as np

# Open the input CSV file
with open('firstupdatepowerlifting.csv', 'r') as input_file:
    reader = csv.DictReader(input_file)
    
    # Open the output CSV file
    with open('updatedpowerlifting.csv', 'w', newline='') as output_file:
        writer = csv.DictWriter(output_file, fieldnames=reader.fieldnames)
        writer.writeheader()
        
        # Iterate through each row in the input file
        for row in reader:
            # Check if the "WeightClassKg" column contains a string
            if row['WeightClassKg'].isdigit():
                # Check if the "Place" column contains a float
                try:
                    float(row['Place'])
                    
                    # Remove the '-' prefix from the numeric columns
                    row['Squat1Kg'] = float(row['Squat1Kg'].lstrip('-'))
                    row['Squat2Kg'] = float(row['Squat2Kg'].lstrip('-'))
                    row['Squat3Kg'] = float(row['Squat3Kg'].lstrip('-'))
                    row['Bench1Kg'] = float(row['Bench1Kg'].lstrip('-'))
                    row['Bench2Kg'] = float(row['Bench2Kg'].lstrip('-'))
                    row['Bench3Kg'] = float(row['Bench3Kg'].lstrip('-'))
                    row['Deadlift1Kg'] = float(row['Deadlift1Kg'].lstrip('-'))
                    row['Deadlift2Kg'] = float(row['Deadlift2Kg'].lstrip('-'))
                    row['Deadlift3Kg'] = float(row['Deadlift3Kg'].lstrip('-'))
                    
                    writer.writerow(row)
                except ValueError:
                    continue

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# Load the CSV data
df = pd.read_csv('updatedpowerlifting.csv')

# Encode categorical variables
df = pd.get_dummies(df, columns=['Sex', 'Event', 'Equipment', 'Division', 'Country', 'Federation'])

# Scale the numerical features
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[['BodyweightKg', 'WeightClassKg', 'Squat1Kg', 'Squat2Kg', 'Squat3Kg', 'Bench1Kg', 'Bench2Kg', 'Bench3Kg', 'Deadlift1Kg', 'Deadlift2Kg', 'Deadlift3Kg', 'TotalKg', 'Wilks']])
df[['BodyweightKg', 'WeightClassKg', 'Squat1Kg', 'Squat2Kg', 'Squat3Kg', 'Bench1Kg', 'Bench2Kg', 'Bench3Kg', 'Deadlift1Kg', 'Deadlift2Kg', 'Deadlift3Kg', 'TotalKg', 'Wilks']] = df_scaled

# Impute missing values
imputer = SimpleImputer(strategy='mean')
X = df.drop(['Name', 'Date', 'Place'], axis=1)
X_imputed = imputer.fit_transform(X)

# Split the data into features and target
y = df['Wilks']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_imputed, y, test_size=0.2, random_state=42)

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate the model
r2 = r2_score(y_test, model.predict(X_test))
print(f"R-squared score: {r2:.2f}")